# Python Data Structures

## Introduction

## Learning Objectives

## Tuples

### Creating and Using Tuples

In [2]:
tokyo_point = (
    35.6895,
    139.6917,
)  # Tuple representing Tokyo's coordinates (latitude, longitude)
print(f"Tokyo coordinates: {tokyo_point}")

Tokyo coordinates: (35.6895, 139.6917)

### Accessing Tuple Elements

In [3]:
latitude = tokyo_point[0]
longitude = tokyo_point[1]
print(f"Latitude: {latitude}")
print(f"Longitude: {longitude}")

Latitude: 35.6895
Longitude: 139.6917

### Tuple Unpacking

In [4]:
lat, lon = tokyo_point  # Unpacking the tuple into two variables
print(f"Tokyo is located at {lat}°N, {lon}°E")

Tokyo is located at 35.6895°N, 139.6917°E

### Multiple Coordinate Points

In [5]:
# Different geographic locations as tuples
new_york = (40.7128, -74.0060)
london = (51.5074, -0.1278)
sydney = (-33.8688, 151.2093)

print(f"New York: {new_york}")
print(f"London: {london}")
print(f"Sydney: {sydney}")

New York: (40.7128, -74.006)
London: (51.5074, -0.1278)
Sydney: (-33.8688, 151.2093)

## Lists

### Creating Lists

In [6]:
# A list of coordinate tuples representing a travel route
route = [
    (35.6895, 139.6917),  # Tokyo
    (34.0522, -118.2437),  # Los Angeles
    (51.5074, -0.1278),  # London
]
print("Travel route:", route)

Travel route: [(35.6895, 139.6917), (34.0522, -118.2437), (51.5074, -0.1278)]

In [7]:
# A list of elevation measurements (in meters)
elevations = [120.5, 135.2, 150.8, 168.3, 185.7, 203.1]
print("Elevation profile:", elevations)

Elevation profile: [120.5, 135.2, 150.8, 168.3, 185.7, 203.1]

In [8]:
# A list of city names
cities = ["Tokyo", "Los Angeles", "London", "Paris"]
print("Cities to visit:", cities)

Cities to visit: ['Tokyo', 'Los Angeles', 'London', 'Paris']

### Adding Elements to Lists

In [9]:
# Add Paris to our travel route
route.append((48.8566, 2.3522))  # Adding Paris coordinates
print("Updated route:", route)

Updated route: [(35.6895, 139.6917), (34.0522, -118.2437), (51.5074, -0.1278), (48.8566, 2.3522)]

In [10]:
# Add a new elevation measurement
elevations.append(221.4)
print("Updated elevations:", elevations)

Updated elevations: [120.5, 135.2, 150.8, 168.3, 185.7, 203.1, 221.4]

### Accessing List Elements

In [11]:
# Access the first city in our route
first_stop = route[0]
print(f"First stop: {first_stop}")

# Access the last city using negative indexing
last_stop = route[-1]
print(f"Last stop: {last_stop}")

First stop: (35.6895, 139.6917)
Last stop: (48.8566, 2.3522)

### List Slicing

In [12]:
# Get the first two stops of our route
first_two_stops = route[:2]
print("First two stops:", first_two_stops)

# Get the middle portion of elevation data
middle_elevations = elevations[2:5]
print("Middle elevation readings:", middle_elevations)

First two stops: [(35.6895, 139.6917), (34.0522, -118.2437)]
Middle elevation readings: [150.8, 168.3, 185.7]

### Useful List Operations

In [13]:
# Find the number of waypoints in our route
num_waypoints = len(route)
print(f"Number of waypoints: {num_waypoints}")

# Find the highest elevation
max_elevation = max(elevations)
print(f"Highest elevation: {max_elevation} meters")

# Calculate average elevation
avg_elevation = sum(elevations) / len(elevations)
print(f"Average elevation: {avg_elevation:.1f} meters")

Number of waypoints: 4
Highest elevation: 221.4 meters
Average elevation: 169.3 meters

## Sets

### Creating Sets

In [14]:
# Create a set of geographic regions
regions_visited = {"North America", "Europe", "Asia"}
print("Regions visited:", regions_visited)

Regions visited: {'Europe', 'North America', 'Asia'}

In [15]:
# Create a set from a list (automatically removes duplicates)
country_codes = ["US", "CA", "MX", "US", "CA"]  # Notice the duplicates
unique_codes = set(country_codes)
print("Original list:", country_codes)
print("Unique country codes:", unique_codes)

Original list: ['US', 'CA', 'MX', 'US', 'CA']
Unique country codes: {'CA', 'US', 'MX'}

In [16]:
# Create a set of coordinate system codes
crs_codes = {"EPSG:4326", "EPSG:3857", "EPSG:32633"}
print("Coordinate reference systems:", crs_codes)

Coordinate reference systems: {'EPSG:32633', 'EPSG:4326', 'EPSG:3857'}

### Adding Elements to Sets

In [17]:
# Add a new region
print("Original set:", regions_visited)
regions_visited.add("Africa")
print("After adding Africa:", regions_visited)

# Try to add a duplicate region
regions_visited.add("Europe")  # This won't change the set
print("After trying to add Europe again:", regions_visited)

Original set: {'Europe', 'North America', 'Asia'}
After adding Africa: {'Europe', 'Africa', 'North America', 'Asia'}
After trying to add Europe again: {'Europe', 'Africa', 'North America', 'Asia'}

### Practical Set Operations

In [18]:
# Two different survey areas with their observed species
area_a_species = {"oak", "pine", "maple", "birch"}
area_b_species = {"pine", "birch", "cedar", "fir"}

print("Species in Area A:", area_a_species)
print("Species in Area B:", area_b_species)

# Find species common to both areas
common_species = area_a_species.intersection(area_b_species)
print("Species found in both areas:", common_species)

# Find species unique to Area A
unique_to_a = area_a_species - area_b_species
print("Species only in Area A:", unique_to_a)

# Find all species across both areas
all_species = area_a_species.union(area_b_species)
print("All species found:", all_species)

Species in Area A: {'maple', 'birch', 'pine', 'oak'}
Species in Area B: {'cedar', 'pine', 'birch', 'fir'}
Species found in both areas: {'pine', 'birch'}
Species only in Area A: {'maple', 'oak'}
All species found: {'cedar', 'birch', 'oak', 'fir', 'maple', 'pine'}

### Checking Set Membership

In [19]:
# Check if we've visited a particular region
if "Asia" in regions_visited:
    print("We have visited Asia")

if "Antarctica" in regions_visited:
    print("We have visited Antarctica")
else:
    print("Antarctica not yet visited")

We have visited Asia
Antarctica not yet visited

## Dictionaries

### Creating Dictionaries

In [20]:
# Dictionary storing attributes of a city
tokyo_info = {
    "name": "Tokyo",
    "population": 13929286,
    "coordinates": (35.6895, 139.6917),
    "country": "Japan",
    "established": 1603,
}
print("Tokyo information:", tokyo_info)

Tokyo information: {'name': 'Tokyo', 'population': 13929286, 'coordinates': (35.6895, 139.6917), 'country': 'Japan', 'established': 1603}

In [21]:
# Dictionary for a geographic survey point
survey_point = {
    "point_id": "SP001",
    "latitude": 40.7589,
    "longitude": -73.9851,
    "elevation": 87.3,
    "land_cover": "urban",
    "date_surveyed": "2023-06-15",
}
print("Survey point data:", survey_point)

Survey point data: {'point_id': 'SP001', 'latitude': 40.7589, 'longitude': -73.9851, 'elevation': 87.3, 'land_cover': 'urban', 'date_surveyed': '2023-06-15'}

### Accessing Dictionary Values

In [22]:
# Access specific information about Tokyo
city_name = tokyo_info["name"]
city_population = tokyo_info["population"]
city_coords = tokyo_info["coordinates"]

print(f"City: {city_name}")
print(f"Population: {city_population:,}")
print(f"Coordinates: {city_coords}")

City: Tokyo
Population: 13,929,286
Coordinates: (35.6895, 139.6917)

### Safe Access with get()

In [23]:
# Safe access to dictionary values
area = tokyo_info.get("area_km2", "Not specified")
timezone = tokyo_info.get("timezone", "Unknown")

print(f"Area: {area}")
print(f"Timezone: {timezone}")

Area: Not specified
Timezone: Unknown

### Adding and Updating Values

In [24]:
# Add new information to our Tokyo dictionary
tokyo_info["area_km2"] = 2191
tokyo_info["timezone"] = "JST"
tokyo_info["population"] = 14000000  # Update population

print("Updated Tokyo info:", tokyo_info)

Updated Tokyo info: {'name': 'Tokyo', 'population': 14000000, 'coordinates': (35.6895, 139.6917), 'country': 'Japan', 'established': 1603, 'area_km2': 2191, 'timezone': 'JST'}

### Working with Geographic Feature Collections

In [25]:
# Collection of world capitals
world_capitals = {
    "Japan": {
        "capital": "Tokyo",
        "coordinates": (35.6895, 139.6917),
        "population": 13929286,
    },
    "France": {
        "capital": "Paris",
        "coordinates": (48.8566, 2.3522),
        "population": 2161000,
    },
    "UK": {
        "capital": "London",
        "coordinates": (51.5074, -0.1278),
        "population": 8982000,
    },
}

# Access information about France's capital
france_info = world_capitals["France"]
print(f"France's capital: {france_info['capital']}")
print(f"Population: {france_info['population']:,}")

France's capital: Paris
Population: 2,161,000

### Dictionary Methods for Data Exploration

In [26]:
# Explore the structure of our Tokyo dictionary
print("Keys in tokyo_info:", list(tokyo_info.keys()))
print("Values in tokyo_info:", list(tokyo_info.values()))

# Check if a key exists
if "coordinates" in tokyo_info:
    print("Coordinate information is available")

# Get all countries in our capitals dictionary
countries = list(world_capitals.keys())
print("Countries in our database:", countries)

Keys in tokyo_info: ['name', 'population', 'coordinates', 'country', 'established', 'area_km2', 'timezone']
Values in tokyo_info: ['Tokyo', 14000000, (35.6895, 139.6917), 'Japan', 1603, 2191, 'JST']
Coordinate information is available
Countries in our database: ['Japan', 'France', 'UK']

### Practical Example: GPS Waypoint Management

In [27]:
# GPS waypoint with comprehensive metadata
waypoint = {
    "id": "WP001",
    "name": "Trail Start",
    "latitude": 45.3311,
    "longitude": -121.7113,
    "elevation": 1200,
    "description": "Beginning of Pacific Crest Trail section",
    "waypoint_type": "trailhead",
    "facilities": ["parking", "restrooms", "water"],
    "difficulty": "easy",
}

print(f"Waypoint: {waypoint['name']}")
print(f"Location: {waypoint['latitude']}, {waypoint['longitude']}")
print(f"Elevation: {waypoint['elevation']} meters")
print(f"Available facilities: {', '.join(waypoint['facilities'])}")

Waypoint: Trail Start
Location: 45.3311, -121.7113
Elevation: 1200 meters
Available facilities: parking, restrooms, water

## Data Structure Selection Guide

### When to Use Each Data Structure

## Key Takeaways

## Exercises

### Exercise 1: Using Lists

In [39]:
# Different geographic locations as tuples

new_york =   (40.7128, -74.0060)
losangeles = (34.0522, -118.2437)
chicago =    (41.8781, -87.6298)

print(f"New York: {new_york}")
print(f"Los Angeles: {losangeles}")
print(f"Chicago: {chicago}")

cities = ["new_york", "Los Angeles", "Chicago"]
print("Cities to visit:", cities)

#lists
cities_2 = [
    (40.7128, -74.0060),  # New York
    (34.0522, -118.2437), #Los Angeles
    (41.8781, -87.6298)  #Chicago
]

cities_2.append((25.7617, -80.1918))  # Add Miami to the list
print("Updated list:", cities_2)

New York: (40.7128, -74.006)
Los Angeles: (34.0522, -118.2437)
Chicago: (41.8781, -87.6298)
Cities to visit: ['new_york', 'Los Angeles', 'Chicago']
Updated list: [(40.7128, -74.006), (34.0522, -118.2437), (41.8781, -87.6298), (25.7617, -80.1918)]

### Exercise 2: Using Tuples

In [55]:
#Create a tuple to store the coordinates (latitude, longitude) of the Eiffel Tower: (48.8584, 2.2945). Perform
#the following tasks:
#1. Access and print the latitude and longitude values from the tuple.
#2. Try to change the latitude value to 48.8585. What happens? Explain why.
tower =  (48.8584, 2.2945)
print(f"Tower coordinates: {tower}")
lat, lon = tower  # Unpacking the tuple into two variables (this is called unpacking)
print(f"Tower is located at {lat}°N, {lon}°E")
print (lat)
print (lon)

Tower coordinates: (48.8584, 2.2945)
Tower is located at 48.8584°N, 2.2945°E
48.8584
2.2945

### Exercise 3: Working with Sets

In [27]:
#Create a set of countries
#1. Add a new country to the set.
#2. Try to add the same country again. What happens?
#3. Print the updated set.
can = {"col", "ecu", "per", "ven"}
print("Paises de la CAN:", can)
can.add("pan")
print("Paises de la CAN:", can)
can.add("pan")
print("Paises de la CAN:", can) #sets detect the duplications. it does not create a new entry for pan.

### Exercise 4: Working with Dictionaries

In [56]:
#Create a Dictionary
#• Name: “Amazon River”
#• Length: 6400 km
#• Countries: [“Peru”, “Colombia”]
#Perform the following tasks:
#1. Add a new key-value pair to the dictionary to store the river’s average discharge (e.g., 209,000 m³/s).
#2. Update the length of the river to 6992 km.
#3. Print the dictionary.
amazon_river = {
    "name": "Amazon River",
    "length_km": 6400,
    "countries": ["Peru", "Colombia"],
}
print("Amazon River information:", amazon_river)

Amazon River information: {'name': 'Amazon River', 'length_km': 6400, 'countries': ['Peru', 'Colombia']}

### Exercise 5: Nested Data Structures

In [60]:
#Create a dictionary to represent a city that contains the city’s name, population, and coordinates (latitude,
#longitude):
#• Name: “Tokyo”
#• Population: 13,515,271
#• Coordinates: (35.6895, 139.6917)
#Perform the following tasks:
#1. Access and print the population of the city.
#2. Access and print the city’s latitude.
#3. Update the population to 14,000,000 and print the updated dictionary


# Create the dictionary to represent the city
city = {
    "Name": "Tokyo",
    "Population": 13515271,
    "Coordinates": (35.6895, 139.6917) # (latitude, longitude)
}

print("Original City Dictionary:")
print(city)
print("-" * 30)

# 1. Access and print the population of the city.
population = city["Population"]
print(f"1. Population of {city['Name']}: {population}")
print("-" * 30)

# 2. Access and print the city’s latitude.
# Coordinates is a tuple, so we access the first element (index 0) for latitude.
latitude = city["Coordinates"][0]
print(f"2. Latitude of {city['Name']}: {latitude}")
print("-" * 30)

# 3. Access and print the city’s longitude.
# Coordinates is a tuple, so we access the second element (index 1) for longitude.
longitude = city["Coordinates"][1]
print(f"2. Longitude of {city['Name']}: {longitude}")
print("-" * 30)

# 4. Update the population to 14,000,000 and print the updated dictionary.
city["Population"] = 14000000
print(f"3. Population updated to {city['Population']}.")
print("   Updated City Dictionary:")
print(city)

Original City Dictionary:
{'Name': 'Tokyo', 'Population': 13515271, 'Coordinates': (35.6895, 139.6917)}
------------------------------
1. Population of Tokyo: 13515271
------------------------------
2. Latitude of Tokyo: 35.6895
------------------------------
2. Longitude of Tokyo: 139.6917
------------------------------
3. Population updated to 14000000.
   Updated City Dictionary:
{'Name': 'Tokyo', 'Population': 14000000, 'Coordinates': (35.6895, 139.6917)}